footer.main-footer {
    background: #f1f4f9;
}
button.btn.btn-block {
    font-size: 10px;
    font-weight: 700;
    /*width: 109px;*/
}
.card-body {
    background: #e1e8f0;
}
img.img-size {
    width: 313px;
    height: 217px;
    border-radius: 4%;
}
span.title2-size p {
    line-height: 11px;
    font-size: 15px;
}
p.paragraph {
    font-size: 17px;
}
button.btn.btn-block.btn-outline-info.bt-lg {
    padding: 9;
    font-size: 13px;
}
.marginTop {
    margin-top: 35px;
}
i.fa.fa-star.yellow {
    color: #ebeb25;
}
.btn-outline-info:hover{
    background-color: #007bff;
    border-color: #007bff;
}
button.btn.btn-block.btn-outline-info.bt-lg.overviewBtn {
    padding: 12px;
}
.navbar {
    padding: 0.6rem 0.5rem !important;
}
.content-wrapper {
    background-color: #fff !important;
}
img.apple-img {
    width: 109px;
    height: 30px;
    margin-top: 4px;
}
img.google {
    width: 109px;
    height: 30px;
}
.navbar-white.navbar-light .form-control-navbar, .navbar-white.navbar-light .form-control-navbar+.input-group-append>.btn-navbar{
    background-color: #fff !important;
}
.main-footer {
    border-top: none !important;
    height: 69px;
}
.row.float-right p{
    color: #869099;
}
